<body class="text-center">
  <form class="form-signin" #loginForm="ngForm" (submit)="login(loginForm)">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    <div class="form-label-group">
      <input
        type="email"
        id="email"
        name="email"
        ngModel
        #email="ngModel"
        [ngClass]="{ 'is-invalid': email.invalid }"
        class="form-control"
        required
        autofocus
        email
      />
      <label for="email">Emailadres</label>
      <div *ngIf="email.invalid && email.touched" class="invalid-feedback">
        <div *ngIf="email.errors.required">Email is vereist.</div>
      </div>
    </div>
    <div class="form-label-group">
      <input
        type="password"
        name="password"
        id="password"
        ngModel
        #password="ngModel"
        [ngClass]="{ 'is-invalid': password.invalid }"
        class="form-control"
        required
        autofocus
      />
      <label for="password">Wachtwoord</label>
      <div
        *ngIf="password.invalid && password.touched"
        class="invalid-feedback"
      >
        <div *ngIf="password.errors.required">Wachtwoord is vereist.</div>
      </div>
    </div>

    <button
      class="btn btn-lg btn-primary btn-block"
      type="submit"
      [disabled]="loginForm.invalid"
    >
      Sign in
    </button>
    <p class="mt-5 mb-3 text-muted">© 2020</p>
  </form>
</body>
