<h1>{{ this.title }}</h1>

<div class="row">
  <div class="col-md-12">
    <form [formGroup]="lessonForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-3">
          <label for="credits">Lesnummer</label>
          <input
            type="number"
            id="lessonNumber"
            formControlName="lessonNumber"
            class="form-control"
            placeholder="lesnummer"
            required
            min="1"
          />
          <span
            style="color: red"
            *ngIf="
              !lessonForm.get('lessonNumber').valid &&
              lessonForm.get('lessonNumber').touched
            "
          >
            <span
              style="color: red"
              *ngIf="lessonForm.get('lessonNumber').errors['required']"
              >Les nummer is vereist.
            </span>
            <span
              style="color: red"
              *ngIf="lessonForm.get('lessonNumber').errors['min']"
              >Les nummer mag niet gelijk of lager zijn dan 0.
            </span>
          </span>
        </div>
        <div class="col-md-3">
          <label for="credits">Duur</label>
          <input
            type="number"
            id="duration"
            formControlName="duration"
            class="form-control"
            placeholder="duur"
            required
          />
          <span
            style="color: red"
            *ngIf="
              !lessonForm.get('duration').valid &&
              lessonForm.get('duration').touched
            "
          >
            <span
              style="color: red"
              *ngIf="lessonForm.get('duration').errors['required']"
              >De duur van de les is vereist.
            </span>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="date">Datum</label>
          <input
            type="date"
            id="date"
            formControlName="date"
            class="form-control"
            placeholder="Datum"
            required
          />
          <span
            style="color: red"
            *ngIf="
              !lessonForm.get('date').valid && lessonForm.get('date').touched
            "
          >
            <span
              style="color: red"
              *ngIf="lessonForm.get('date').errors['required']"
              >Datum is vereist.
            </span>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="courseName">Onderwerp</label>
          <input
            type="text"
            id="subject"
            formControlName="subject"
            class="form-control"
            placeholder="Onderwerp"
            minlength="3"
            required
          />
          <span
            style="color: red"
            *ngIf="
              !lessonForm.get('subject').valid &&
              lessonForm.get('subject').touched
            "
          >
            <span
              style="color: red"
              *ngIf="lessonForm.get('subject').errors['required']"
              >Het onderwerp is vereist.
            </span>
            <span
              style="color: red"
              *ngIf="lessonForm.get('subject').errors['minlength']"
              >Het onderwerp moet minstens 3 tekens lang zijn.
            </span>
          </span>
        </div>
      </div>

      <br />
      <div class="row">
        <div class="col-md-12">
          <button
            type="button"
            class="btn btn-danger mr-1"
            (click)="onCancel()"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="lessonForm.invalid"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
