<div *ngIf="lesson">
  <div class="row">
    <div class="col-md-10">
      <h1>Les {{ lesson.lessonNumber }} - {{ lesson.subject }}</h1>
    </div>
    <div class="col-md-2" style="float: right">
      <a
        class="btn btn-success"
        *ngIf="userIsAuthenticated"
        routerLink="/courses/{{ courseId }}/lesson/{{ lessonId }}/exercise/add"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        >Add Exercise</a
      >
    </div>
  </div>
  <br />
  <div class="spinner-border" role="status" *ngIf="isLoading">
    <span class="sr-only">Loading...</span>
  </div>

  <p>Duur: {{ lesson.duration }} minuten</p>
  <p>Datum: {{ lesson.date | date: "dd-MM-yyyy" }}</p>
  <p>Opgaven:</p>
  <table class="table table-striped" *ngIf="lesson.exercises.length != 0">
    <thead>
      <tr>
        <th>#</th>
        <th>Type opgave</th>
        <th>Dealine</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exercise of lesson.exercises">
        <th>{{ exercise.exerciseNumber }}</th>
        <td>{{ exercise.typeOfExercise }}</td>
        <td>{{ exercise.dueDate | date: "dd-MM-yyyy" }}</td>
        <td>
          <a
            class="btn btn-primary mr-1"
            routerLink="/courses/{{ courseId }}/lesson/{{
              lessonId
            }}/exercise/{{ exercise._id }}"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Details</a
          >
          <a
            class="btn btn-danger"
            *ngIf="userIsAuthenticated"
            (click)="onDelete(exercise._id, lessonId, courseId)"
            >Delete</a
          >
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="lesson.exercises.length == 0">
    Er zijn nog geen opgaven toegevoegd aan deze les.
  </div>
  <br />
  <a
    class="btn btn-danger mr-1"
    routerLink="/courses/{{ courseId }}"
    [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{ exact: true }"
    >Terug</a
  >
  <a
    class="btn btn-warning"
    *ngIf="userIsAuthenticated"
    routerLink="/courses/{{ courseId }}/lesson/{{ lessonId }}/edit"
    [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{ exact: true }"
    >Edit</a
  >
</div>
