<h1>{{ this.title }}</h1>

<div class="row">
  <div class="col-md-12">
    <form [formGroup]="exerciseForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-3">
          <label for="exerciseNumber">Opgave nummer</label>
          <input
            type="number"
            id="exerciseNumber"
            formControlName="exerciseNumber"
            class="form-control"
            placeholder="opgave nummer"
            required
            min="1"
          />
          <span
            style="color: red"
            *ngIf="
              !exerciseForm.get('exerciseNumber').valid &&
              exerciseForm.get('exerciseNumber').touched
            "
          >
            <span
              style="color: red"
              *ngIf="exerciseForm.get('exerciseNumber').errors['required']"
              >Opgave nummer is vereist.
            </span>
            <span
              style="color: red"
              *ngIf="exerciseForm.get('exerciseNumber').errors.min"
              >Opgave nummer mag niet gelijk of lager zijn dan 0.
            </span>
          </span>
        </div>
        <div class="col-md-3">
          <label for="dueDate">Datum af</label>
          <input
            type="date"
            id="dueDate"
            formControlName="dueDate"
            class="form-control"
            placeholder="Datum"
            required
          />
          <span
            style="color: red"
            *ngIf="
              !exerciseForm.get('dueDate').valid &&
              exerciseForm.get('dueDate').touched
            "
          >
            <span
              style="color: red"
              *ngIf="exerciseForm.get('dueDate').errors['required']"
              >Datum is vereist.
            </span>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="typeOfExercise">Type opgave</label>
          <select
            formControlName="typeOfExercise"
            id="typeOfExercise"
            class="form-control"
            required
          >
            <option *ngFor="let type of typeOfExercises" [ngValue]="type">
              {{ type }}
            </option>
          </select>
          <span
            style="color: red"
            *ngIf="
              !exerciseForm.get('typeOfExercise').valid &&
              exerciseForm.get('typeOfExercise').touched
            "
          >
            <span
              style="color: red"
              *ngIf="exerciseForm.get('typeOfExercise').errors['required']"
              >Type opgave is vereist.
            </span>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="question">Vraag of opdracht</label>
          <input
            type="text"
            id="question"
            formControlName="question"
            class="form-control"
            placeholder="Vraag of opdracht"
            minlength="8"
            required
          />
          <span
            style="color: red"
            *ngIf="
              !exerciseForm.get('question').valid &&
              exerciseForm.get('question').touched
            "
          >
            <span
              style="color: red"
              *ngIf="exerciseForm.get('question').errors['required']"
              >Vraag is vereist.
            </span>
          </span>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-3">
          <input
            class="form-check-input form-control"
            type="checkbox"
            id="isDone"
            formControlName="isDone"
          />
          <label class="form-check-label" for="isDone">Opdracht af?</label>
        </div>
      </div>

      <br />
      <br />
      <div class="row">
        <div class="col-md-12">
          <button
            type="button"
            class="btn btn-danger mr-1"
            (click)="onCancel()"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="exerciseForm.invalid"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
