<div class="row">
  <div class="col-md-10">
    <h1>Overzicht docenten</h1>
  </div>
</div>
<br />

<div class="spinner-border" role="status" *ngIf="isLoading">
  <span class="sr-only">Loading...</span>
</div>

<table class="table table-striped" *ngIf="!isLoading">
  <thead>
    <tr>
      <th scope="col">Naam</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody *ngIf="teachers.length != 0">
    <tr *ngFor="let teacher of teachers">
      <td>{{ teacher.firstName + " " + teacher.lastName }}</td>
      <td id="emailTeacher">{{ teacher.email }}</td>
    </tr>
  </tbody>
  <tbody *ngIf="teachers.length == 0">
    Er zijn nog geen docenten toegevoegd.
  </tbody>
</table>
