<body class="text-center">
  <div class="spinner-border" role="status" *ngIf="isLoading">
    <span class="sr-only">Loading...</span>
  </div>

  <form
    class="form-register"
    #registerForm="ngForm"
    (submit)="onRegister(registerForm)"
  >
    <h1 class="h3 mb-3 font-weight-normal">Please register</h1>
    <div class="form-label-group">
      <input
        type="text"
        name="firstName"
        ngModel
        #firstName="ngModel"
        [ngClass]="{ 'is-invalid': firstName.invalid }"
        class="form-control"
        placeholder="Voornaam"
        required
        autofocus
        minlength="2"
      />
      <label for="firstName">Voornaam</label>
      <div
        *ngIf="firstName.invalid && firstName.touched"
        class="invalid-feedback"
      >
        <div *ngIf="firstName.errors.required">Voornaam is vereist.</div>
        <div *ngIf="firstName.errors.minlength">
          Voornaam moet minstens 2 letters lang zijn.
        </div>
      </div>
    </div>
    <div class="form-label-group">
      <input
        type="text"
        name="lastName"
        ngModel
        #lastName="ngModel"
        [ngClass]="{ 'is-invalid': lastName.invalid }"
        class="form-control"
        placeholder="Achternaam"
        required
        autofocus
        minlength="2"
      />
      <label for="lastName">Achternaam</label>
      <div
        *ngIf="lastName.invalid && lastName.touched"
        class="invalid-feedback"
      >
        <div *ngIf="lastName.errors.required">Achternaam is vereist.</div>
        <div *ngIf="lastName.errors.minlength">
          Achternaam moet minstens 2 letters lang zijn.
        </div>
      </div>
    </div>
    <div class="form-label-group">
      <input
        type="email"
        name="email"
        ngModel
        #email="ngModel"
        [ngClass]="{ 'is-invalid': email.invalid }"
        class="form-control"
        placeholder="Emailadres"
        required
        autofocus
        email
      />
      <label for="email">Emailadres</label>
      <div *ngIf="email.invalid && email.touched" class="invalid-feedback">
        <div *ngIf="email.errors.required">Email is vereist.</div>
      </div>
    </div>
    <div class="form-label-group">
      <input
        type="password"
        name="password"
        ngModel
        #password="ngModel"
        [ngClass]="{ 'is-invalid': password.invalid }"
        class="form-control"
        placeholder="Wachtwoord"
        required
        autofocus
        minlength="6"
      />
      <label for="password">Wachtwoord</label>
      <div
        *ngIf="password.invalid && password.touched"
        class="invalid-feedback"
      >
        <div *ngIf="password.errors.required">Wachtwoord is vereist.</div>
        <div *ngIf="password.errors.minlength">
          Wachtwoord moet minstens 6 tekens lang zijn.
        </div>
      </div>
    </div>

    <button
      class="btn btn-lg btn-primary btn-block"
      type="submit"
      [disabled]="registerForm.invalid"
    >
      Register
    </button>
    <p class="mt-5 mb-3 text-muted">© 2020</p>
  </form>
</body>
