<div *ngIf="exercise">
  <div class="row">
    <div class="col-md-10">
      <h1>Opgave {{ exercise.exerciseNumber }}</h1>
    </div>
  </div>
  <br />

  <div class="spinner-border" role="status" *ngIf="isLoading">
    <span class="sr-only">Loading...</span>
  </div>

  <p>Vraag of opdracht: {{ exercise.question }}</p>
  <p>Type opdracht: {{ exercise.typeOfExercise }}</p>
  <p>Deadline: {{ exercise.dueDate | date: "dd-MM-yyyy" }}</p>
  <p>Af: {{ exercise.isDone }}</p>
  <br />
  <a
    class="btn btn-danger mr-1"
    routerLink="/courses/{{ courseId }}/lesson/{{ lessonId }}"
    [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{ exact: true }"
    >Terug</a
  >
  <a
    class="btn btn-warning"
    *ngIf="userIsAuthenticated"
    routerLink="/courses/{{ courseId }}/lesson/{{ lessonId }}/exercise/{{
      exercise.id
    }}/edit"
    [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{ exact: true }"
    >Edit</a
  >
</div>
