<div *ngIf="course">
  <div class="row">
    <div class="col-md-10">
      <h1>{{ course.courseName }}</h1>
    </div>
    <div class="col-md-2" style="float: right">
      <a
        class="btn btn-success"
        *ngIf="userIsAuthenticated"
        routerLink="/courses/{{ course.id }}/lesson/add"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        >Add Lesson</a
      >
    </div>
  </div>
  <br />
  <div class="spinner-border" role="status" *ngIf="isLoading">
    <span class="sr-only">Loading...</span>
  </div>

  <p>Vakcode: {{ course.courseCode }}</p>
  <p>Periode: {{ course.semester }}</p>
  <p>Te verdienen studiepunten: {{ course.credits }}</p>
  <p>Docent: {{ course.teacher.firstName + " " + course.teacher.lastName }}</p>
  <p>Lessen:</p>
  <table class="table table-striped" *ngIf="course.lessons.length != 0">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Onderwerp</th>
        <th scope="col">Datum</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lesson of course.lessons">
        <th>{{ lesson.lessonNumber }}</th>
        <td>{{ lesson.subject }}</td>
        <td>{{ lesson.date | date: "dd-MM-yyyy" }}</td>
        <td>
          <a
            class="btn btn-primary mr-1"
            routerLink="/courses/{{ course.id }}/lesson/{{ lesson.id }}"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Details</a
          >
          <a
            class="btn btn-danger"
            *ngIf="userIsAuthenticated"
            (click)="onDelete(lesson.id, course.id)"
            >Delete</a
          >
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="course.lessons.length == 0">
    Er zijn nog geen lessen toegevoegd aan dit vak.
  </div>
  <br />
  <a
    class="btn btn-danger mr-1"
    routerLink="/courses"
    [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{ exact: true }"
    >Terug</a
  >
  <a
    class="btn btn-warning"
    *ngIf="userIsAuthenticated"
    routerLink="/courses/{{ course.id }}/edit"
    [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{ exact: true }"
    >Edit</a
  >
</div>

<div class="spinner-border" role="status" *ngIf="!course">
  <span class="sr-only">Loading...</span>
</div>
