<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1 id="aboutTitle">Over deze applicatie</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web
      frameworks' van Avans Hogeschool Breda.
    </p>
    <h3>School Planner</h3>
    <p>
      School Planner is een applicatie waarmee de gebruikers, studenten, zelf de
      mogelijkheid hebben om een overzicht te krijgen hoe ver ze zijn met de
      opdrachten van een vak of van een specifieke les. De gebruiker kan zelf
      vakken, lessen en opgaven aanmaken of invoeren. Ook kunnen de details
      worden opgevraagd en kunnen de bestaande gegevens worden bewerkt.
    </p>
    <h5>Toelichting entiteiten</h5>
    Bij deze casus zullen de volgende entiteiten gebruikt worden: vak, les,
    opgave.<br /><br />
    <p>
      <button
        type="button"
        class="btn btn-outline-dark mr-2"
        (click)="collapseVak.toggle()"
        [attr.aria-expanded]="!isCollapsedVak"
        aria-controls="toggleVak"
        data-target="#toggleVak"
      >
        Vak
      </button>
      <button
        type="button"
        class="btn btn-outline-dark mr-2"
        (click)="collapseLes.toggle()"
        [attr.aria-expanded]="!isCollapsedLes"
        aria-controls="toggleLes"
        data-target="#toggleLes"
      >
        Les
      </button>
      <button
        type="button"
        class="btn btn-outline-dark mr-2"
        (click)="collapseOpgave.toggle()"
        [attr.aria-expanded]="!isCollapsedOpgave"
        aria-controls="toggleOpgave"
        data-target="#toggleOpgave"
      >
        Opgave
      </button>
    </p>
    <div>
      <div
        class="card"
        id="toggleVak"
        #collapseVak="ngbCollapse"
        [(ngbCollapse)]="isCollapsedVak"
      >
        <div class="card-body">
          Een vak heeft een naam, een vakcode en hoort bij een periode, dit zijn
          allemaal strings. Daarnaast krijg je als je het vak behaald
          studiepunten, ook van EC’s, dit is een cijfer, dus een number. Een vak
          wordt gegeven door één of meerdere docenten, de namen van de docenten
          zijn strings en in een nosql database worden de namen in een string
          array gestopt. Tot slot zijn er lessen die bij het vak horen en deze
          zijn terug te vinden in een array van lessen.
        </div>
      </div>
      <div
        class="card"
        id="toggleLes"
        #collapseLes="ngbCollapse"
        [(ngbCollapse)]="isCollapsedLes"
      >
        <div class="card-body">
          Een les heeft een lesnummer, zodat in combinatie met de vak naam goed
          te zien is om welke les van welk vak het gaat. Daarnaast vind de les
          plaats op een specifieke datum, vandaar het attribuut datum. Ook horen
          er bij een les geen, één of meerdere huiswerkopgaven, deze komen in
          een array te staan. Er is geen attribuut locatie of lokaal, omdat we
          momenteel online les hebben, dus ik vind dat niet relevant.
        </div>
      </div>
      <div
        class="card"
        id="toggleOpgave"
        #collapseOpgave="ngbCollapse"
        [(ngbCollapse)]="isCollapsedOpgave"
      >
        <div class="card-body">
          Een opgave heeft een opgavenummer om aan te kunnen duiden welke opgave
          het is. Ook is de opgave gekoppeld aan een vak en aan een les.
          Daarnaast heeft een opgave een vraag (of een stelling) die beantwoord
          of uitgewerkt moet worden. Tot slot heeft de entiteit opgave een
          attribuut isKlaar, dit is een boolean waarmee kan worden aangegeven of
          de opgave al klaar of af is, zoals de naam al zegt.
        </div>
      </div>
    </div>

    <br />

    <h5>Views met mogelijke functionaliteiten</h5>
    <p>
      Er zal dus een homepage zijn, een dashboard met daarop de voortgang per
      vak of per les, een overzicht van alle vakken, alle lessen en alle opgaven
      met op alle drie de pagina’s een filter optie. Daarnaast komen er
      overzichten van de gebruikers en een lijst van vrienden, deze is meer
      gericht op de opdracht van nosql. Tot slot is deze pagina er met
      informatie over de casus, de entiteiten en use cases.
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Iza Moerenhout</h5>
        <p class="card-text">Studentnummer: 2157885</p>
      </div>
    </div>
  </div>
</div>

<hr />

<h3>Entiteiten</h3>
<div class="row">
  <div class="col-sm-12 col-md-3">
    <h5>Teacher</h5>
    <ul>
      <li>FirstName: String</li>
      <li>Lastname: String</li>
      <li>Email: String</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-3">
    <h5>Course</h5>
    <ul>
      <li>CourseName: String</li>
      <li>CourseCode: String</li>
      <li>Credits: Number</li>
      <li>Semester: Enum</li>
      <li>Teachers: Teacher[ ]</li>
      <li>Lessons: Lesson[ ]</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-3">
    <h5>Lesson</h5>
    <ul>
      <li>LessonNumber: Number</li>
      <li>Date: Date</li>
      <li>Duration: Number</li>
      <li>Exercises: Exercise[ ]</li>
      <li>Subject: String</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-3">
    <h5>Exercise</h5>
    <ul>
      <li>ExerciseNumber: Number</li>
      <li>Question: String</li>
      <li>TypeOfExercise: Enum</li>
      <li>DueDate: Date</li>
      <li>IsDone: Boolean</li>
    </ul>
  </div>
</div>
<img
  src="../../../../assets/images/datamodel nosql.jpeg"
  alt="datamodel"
  width="1100"
  height="400"
/>
<hr />

<div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit.</p>
    <p>De use cases zijn opgedeeld in verschillende categorieën, namelijk:</p>
    <ul>
      <li>Authenticatie: UC-101 en UC-102</li>
      <li>Beheer van vakken: UC-201 t/m UC-205</li>
      <li>Beheer van lessen: UC-301 t/m UC-305</li>
      <li>Beheer van opgaven: UC-401 t/m UC-405</li>
      <li>
        Optioneel UC-501, deze heeft betrekking tot het overzicht op het
        dashboard
      </li>
    </ul>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
  </div>
</div>
