<h1>Gebruikers</h1>
<br />

<div class="spinner-border" role="status" *ngIf="isLoading">
  <span class="sr-only">Loading...</span>
</div>

<table class="table table-striped" *ngIf="!isLoading">
  <thead>
    <tr>
      <th scope="col">Naam</th>
      <th scope="col">E-mail</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngIf="users.length != 0">
    <tr *ngFor="let user of users">
      <td>{{ user.firstName }} {{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>
        <a
          class="btn btn-primary mr-1"
          routerLink="/users/{{ user.id }}"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          >Details</a
        >
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="users.length == 0">
    Er zijn nog geen gebruikers.
  </tbody>
</table>
