<div class="container text-center">
  <h3>Welkom bij School Planner</h3>
  <img src="../../../assets/images/avans-at-night.jpg" alt="Avans Location" />
</div>

<br />

<div class="row" *ngIf="userIsAuthenticated">
  <div class="col-md-4">
    <h2>Docenten</h2>
    <p>Hier kan je een overzicht vinden van de docenten.</p>
    <p>
      <a
        class="btn btn-secondary"
        type="button"
        routerLink="/teachers"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Overzicht »
      </a>
    </p>
  </div>
  <div class="col-md-4">
    <h2>Vakken</h2>
    <p>Hier kan je een overzicht vinden van de door jou aangemaakte vakken.</p>
    <p>
      <a
        class="btn btn-secondary"
        type="button"
        routerLink="/courses"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Overzicht »
      </a>
    </p>
  </div>
  <div class="col-md-4">
    <h2>Andere gebruikers</h2>
    <p>Hier kan je een overzicht vinden van andere gebruikers.</p>
    <p>
      <a
        class="btn btn-secondary"
        type="button"
        routerLink="/users"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Overzicht »
      </a>
    </p>
  </div>
</div>
