<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a
      class="navbar-brand"
      routerLink="/"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
      >School Planner</a
    >
    <button
      class="navbar-toggler hidden-sm-up"
      type="button"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
      data-target="#navbarsDefault"
      aria-controls="navbarsDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      [ngbCollapse]="isNavbarCollapsed"
      class="collapse navbar-collapse"
      id="navbarsDefault"
    >
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item">
          <a
            class="nav-link"
            *ngIf="userIsAuthenticated"
            routerLink="/dashboard"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Overzicht
          </a>
        </li> -->
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/courses"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Vakken
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/teachers"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Docenten
          </a>
        </li>
        <li *ngIf="userIsAuthenticated">
          <a
            class="nav-link"
            routerLink="/users"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Gebruikers
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/about"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Over</a
          >
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="!userIsAuthenticated">
          <a
            class="nav-link"
            routerLink="/register"
            [routerLinkActive]="['active']"
            >Register</a
          >
        </li>
        <li class="nav-item" *ngIf="!userIsAuthenticated">
          <a
            class="nav-link"
            routerLink="/login"
            [routerLinkActive]="['active']"
          >
            Login
          </a>
        </li>
        <li class="nav-item" *ngIf="userIsAuthenticated">
          <a class="nav-link" routerLink="/" [routerLinkActive]="['active']">
            Ingelogd als: {{ user.firstName + " " + user.lastName }}
          </a>
        </li>
        <li class="nav-item" *ngIf="userIsAuthenticated">
          <a
            class="nav-link"
            routerLink="/"
            [routerLinkActive]="['active']"
            (click)="onLogout()"
          >
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
