<h1 id="title">{{ this.title }}</h1>

<div class="row">
  <div class="col-md-12">
    <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6">
          <label for="courseName">Naam vak</label>
          <input
            type="text"
            id="courseName"
            formControlName="courseName"
            class="form-control"
            placeholder="Naam vak"
            minlength="3"
            required
          />
          <div
            style="color: red"
            *ngIf="
              !courseForm.get('courseName').valid &&
              courseForm.get('courseName').touched
            "
          >
            <div
              id="errorName"
              style="color: red"
              *ngIf="courseForm.get('courseName').errors['required']"
            >
              Naam van het vak is vereist.
            </div>
            <div
              style="color: red"
              *ngIf="courseForm.get('courseName').errors['minlength']"
            >
              Naam van het vak moet minstens 3 tekens lang zijn.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="courseCode">Vakcode</label>
          <input
            type="text"
            id="courseCode"
            formControlName="courseCode"
            class="form-control"
            placeholder="Vakcode"
            minlength="3"
            required
          />
          <span
            style="color: red"
            *ngIf="
              !courseForm.get('courseCode').valid &&
              courseForm.get('courseCode').touched
            "
          >
            <span
              style="color: red"
              *ngIf="courseForm.get('courseCode').errors['required']"
              >Code van het vak is vereist.
            </span>
            <span
              style="color: red"
              *ngIf="courseForm.get('courseCode').errors['minlength']"
              >Code van het vak moet minstens 3 tekens lang zijn.
            </span>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <label for="credits">Studiepunten</label>
          <input
            type="number"
            id="credits"
            formControlName="credits"
            class="form-control"
            placeholder="EC's"
            min="1"
          />
          <span
            style="color: red"
            *ngIf="
              !courseForm.get('credits').valid &&
              courseForm.get('credits').touched
            "
          >
            <span
              style="color: red"
              *ngIf="courseForm.get('credits').errors['required']"
              >Studiepunten is vereist.
            </span>
            <span
              style="color: red"
              *ngIf="courseForm.get('credits').errors['min']"
              >Studiepunten mag niet gelijk of lager zijn dan 0.
            </span>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <label for="semester">Periode</label>
          <select
            formControlName="semester"
            id="semester"
            class="form-control"
            maxlength="3"
            required
          >
            <option *ngFor="let semester of semesters" [ngValue]="semester">
              {{ semester }}
            </option>
          </select>
          <span
            style="color: red"
            *ngIf="
              !courseForm.get('semester').valid &&
              courseForm.get('semester').touched
            "
          >
            <span
              style="color: red"
              *ngIf="courseForm.get('semester').errors['required']"
              >Periode is vereist.
            </span>
            <span
              style="color: red"
              *ngIf="courseForm.get('semester').errors['maxlength']"
              >Periode mag maximaal 3 tekens lang zijn.
            </span>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="teacher">Docent</label>
          <select
            formControlName="teacher"
            id="teacher"
            class="form-control"
            required
          >
            <option *ngFor="let teacher of teachers" [ngValue]="teacher">
              {{ teacher.firstName + " " + teacher.lastName }}
            </option>
          </select>
          <span
            style="color: red"
            *ngIf="
              !courseForm.get('teacher').valid &&
              courseForm.get('teacher').touched
            "
          >
            <span
              style="color: red"
              *ngIf="courseForm.get('teacher').errors['required']"
              >Docent is vereist.
            </span>
          </span>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-12">
          <button
            type="button"
            class="btn btn-danger mr-1"
            (click)="onCancel()"
          >
            Cancel
          </button>
          <button
            type="submit"
            id="submitCourse"
            class="btn btn-success"
            [disabled]="courseForm.invalid"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
