<div class="row">
  <div class="col-md-10">
    <h1>Overzicht vakken</h1>
  </div>
  <div class="col-md-2" style="float: right">
    <a
      class="btn btn-success"
      *ngIf="userIsAuthenticated"
      routerLink="/courses/add"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
      >Add Course</a
    >
  </div>
</div>
<br />

<div class="spinner-border" role="status" *ngIf="isLoading">
  <span class="sr-only">Loading...</span>
</div>

<table class="table table-striped" *ngIf="!isLoading">
  <thead>
    <tr>
      <th scope="col">Vakcode</th>
      <th scope="col">Vak</th>
      <th scope="col">Periode</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody *ngIf="courses.length != 0 && userIsAuthenticated">
    <tr *ngFor="let course of courses">
      <td>{{ course.courseCode }}</td>
      <td>{{ course.courseName }}</td>
      <td>{{ course.semester }}</td>
      <td>
        <a
          class="btn btn-primary mr-1"
          *ngIf="userIsAuthenticated"
          routerLink="/courses/{{ course.id }}"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          >Details</a
        >
        <a
          class="btn btn-danger"
          *ngIf="userIsAuthenticated"
          (click)="onDelete(course.id)"
          >Delete</a
        >
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="!userIsAuthenticated">
    Log in om vakken toe te voegen.
  </tbody>
  <tbody *ngIf="courses.length == 0 && userIsAuthenticated">
    Er zijn nog geen vakken toegevoegd.
  </tbody>
</table>
