<h1>{{ this.user?.firstName + " " + this.user?.lastName }}</h1>
<br />
<div class="spinner-border" role="status" *ngIf="isLoading">
  <span class="sr-only">Loading...</span>
</div>

<table class="table table-striped" *ngIf="!isLoading">
  <thead>
    <tr>
      <th scope="col">Vakcode</th>
      <th scope="col">Vak</th>
      <th scope="col">Periode</th>
    </tr>
  </thead>
  <tbody *ngIf="courses.length != 0">
    <tr *ngFor="let course of courses">
      <td>{{ course.courseCode }}</td>
      <td>{{ course.courseName }}</td>
      <td>{{ course.semester }}</td>
    </tr>
  </tbody>
  <tbody *ngIf="courses.length == 0">
    Heeft nog geen vakken aangemaakt.
  </tbody>
</table>
